.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.title {
  font-size: 26px;
  margin: 10px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  color: #818181;
  margin: 10px;
}
.location {
  font-size: 16px;
  font-weight: 400;
  color: #818181;
  margin: 10px;
}
